p{
    font-family: "Poppins", sans-serif;
    text-align: justify;
}
h2{
    font-family: "Poppins", sans-serif;
}
h4{
    font-family: "Poppins", sans-serif;
}
a{
    color: black;
    font-family: "Poppins", sans-serif;
    font-size: 1.1rem;
}
.pedro{
    border-radius: 0.1rem;
}

.nada{
    font-family: "Poppins", sans-serif;
    text-align: justify;
}